{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid" >
    <div class="app-main-content">
        <p>Vous trouverez ici toutes nos recettes pour faire vos produits maison et à moindre coût.</p>
            <div class="card">
                <img class="cosmetics" src="/Images/Cuisine.png" alt="image cuisine">
            <div class="container">
                <h4><b>Cosmétiques</b></h4>
            </div>
            </div>
            <div class="card">
                <img class="household_product" src="/Images/DIY.png" alt="image cuisine">
                <div class="container">
                <h4><b>Produits ménager</b></h4>
            </div>
            </div>
            <div class="card">
                <img class="knitting" src="/Images/ecolo.png" alt="image cuisine">
                <div class="container">
                <h4><b>Tricot/couture</b></h4>
            </div>
            </div>
            </div>
    </div>
</div>
{% endblock %}