.footer{
    background-color: darkcyan;
    padding: 25px;
    margin-top: auto;
}

.row{
    margin-bottom: 10px;
}

.qsn{
    font-size: 14px;
    padding-top: 11px;
}

a{
    color: lightcyan;
}

p, h3{
    text-align: center;
}

.logo{
    text-align: center;
}

.contact{
    text-align: center;
    margin: 0 auto;
}

