#navbar-custom{
    background-color: darkcyan;
    padding-top: 8px;
}
a {
    font-size: 17px;
}
a:hover{
    color: rgb(80, 80, 80);
}
#logo{
    font-size: 25px;
    padding-left: 28px;
}

.dropdown-menu{
    margin-left: 28px;
    
}
.dropdown-item{
    font-size: 14px;
}

.search{
    color: black;
    border-color: black;
}

.search:hover{
    color: white;
    border-color: black;
    background-color: teal;
}