{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="app-main-content">
        <p>Vous trouverez ici toutes nos astuces pour recycler et réutiliser vos objets.</p>
        <div class="card">
            <img class="re_use" src="/Images/Cuisine.png" alt="image cuisine">
            <div class="container">
                <h4><b>Ré-utilisation</b></h4>
            </div>
        </div>
        <div class="card">
            <img class="alternative" src="/Images/DIY.png" alt="image cuisine">
            <div class="container">
                <h4><b>Recyclage</b></h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}