{% extends 'base.html.twig' %}

{% block body %}

<div class="container-fluid">
    <div class="app-main-content">
        <p>Cuisine</p>
        <div class="card">
            <img class="batch_cooking" src="/Images/Cuisine.png" alt="image cuisine">
            <div class="container">
                <h4><b>Batch_cooking</b></h4>
            </div>
        </div>

        <div class="card">
            <img class="recipes" src="/Images/DIY.png" alt="image cuisine">
            <div class="container">
                <h4><b>Recettes</b></h4>
            </div>
        </div>

        <div class="card">
            <img class="recipes_cookeo" src="/Images/ecolo.png" alt="image cuisine">
            <div class="container">
                <h4><b>Recettes Cookeo</b></h4>
            </div>
        </div>
    </div>
</div>

{% endblock %}