{% extends 'base.html.twig' %}

{% block body %}

 <div class="container-fluid" >
    <div class="app-main-content">
        <h3>recettes cookeo</h3> 
        <p>Nous n'avons pas la prétention de vous proposer des recettes ou astuces pour maigrir, <br>
           mais plutôt de vous proposer des solutions pour éviter tous les produits industrialisés.
    </div>
</div>
{% endblock %}