<footer class="footer">
    <div class="container">

        <div class="row">
            <div class="col-sm qsn">
                <h3> Qui sommes nous ? </h3>
                <p> Je suis une développeuse web qui est également passionnée par le fait maison. <br> Cela a plusieurs utilitées : 
                <br> - Faire des économies
                <br> - Etre un peu plus "écolo"
                <br> - Vivre plus sainement</p>
            </div>
            <div class="col-sm qsn">
                <h3>Nous contacter </h3>
                <p> Formulaire de contact </p>
            </div>
            <div class="col-sm qsn">
                <h3> Mentions Légales </h3>
                <p> Details mentions légales </p>
            </div>
        </div>

        <div class="row">
            <div class="col-sm">
                <div class="flex-center">

                    <!-- Facebook -->
                    <a class="fb-ic" href="http://www.facebook.com/">
                        <i class="fab fa-facebook-f fa-lg mr-md-5 mr-3 fa-2x" aria-hidden="true" > </i>
                    </a>
                    <!-- Twitter -->
                    <a class="tw-ic" href="http://www.twitter.com/">
                        <i class="fab fa-twitter fa-lg mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                    </a>
                    <!--Instagram-->
                    <a class="ins-ic" href="http://www.instagram.com/">
                        <i class="fab fa-instagram fa-lg mr-md-5 mr-3 fa-2x" aria-hidden="true"> </i>
                    </a>
                    <!--Pinterest-->
                    <a class="pin-ic" href="http://www.pinterest.com/">
                        <i class="fab fa-pinterest fa-lg fa-2x" aria-hidden="true"> </i>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <div class="footer-copyright text-center py-3">© 2020 Copyright:
        <a href="#"> Vie saine</a>
    </div>

</footer>