{% extends 'base.html.twig' %}

{% block body %}

    <div class="app-main-content">
        <p class="intro">Bienvenue sur notre site qui, on l'espère, vous aidera à avoir une vie plus "saine" facilement.</p>
    </div>

{% endblock %}