<!-- Navigation -->
<nav id="navbar-custom" class="navbar navbar-default navbar-fixed-left">
<div class="navbar-header">
  <a class="navbar-brand" id="logo" href="/home">Vie saine</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Cuisine
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/batch_cooking">Batch cooking</a>
          <a class="dropdown-item" href="/recipes">Recettes</a>
          <a class="dropdown-item" href="/recipes_cookeo">Recettes cookeo</a>
          <a class="dropdown-item" href="/tips">Astuces</a>
        </div>
      </li>
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          DIY
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/cosmetics">Cosmétiques</a>
          <a class="dropdown-item" href="/household_product">Produits ménager</a>
          <a class="dropdown-item" href="/knitting_sewing">Tricot/Couture</a>
        </div>
      </li>
            <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Ecolo/Recyclage
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/re_use">Réutilisation</a>
          <a class="dropdown-item" href="/alternatives">Les alternatives</a>
        </div>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/qsn">Qui sommes nous ?</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/contact">Nous contacter</a>
      </li>
<form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>

    </ul>
    
  </div>
</nav>
